/* neonsyntax theme for codemirror */

/* Color scheme */

.cm-s-neonsyntax .cm-keyword {
  color: #bB7Dbf;
  text-shadow: 0px 0px 15px rgba(155, 159, 253, 0.8);
}
.cm-s-neonsyntax .cm-atom { color: #CF7EA9; }
.cm-s-neonsyntax .cm-number {
  color: rgba(143, 194, 187, 0.73);
  text-shadow: 0px 0px 15px rgba(119, 194, 187, 0.8);
}
.cm-s-neonsyntax .cm-def { color: #aac6e3; }
.cm-s-neonsyntax .cm-variable {
  color: #BBDFDD;
  text-shadow: 0px 0px 15px rgba(187, 223, 221, 0.8);
}
.cm-s-neonsyntax .cm-variable-2 {
  color: #3aafff;
  text-shadow: 0px 0px 15px rgba(58, 175, 255, 0.8);
}
.cm-s-neonsyntax .cm-variable-3 {
  color: #33b6a9;
  text-shadow: 0px 0px 15px rgba(5, 214, 249, 0.8);
}
.cm-s-neonsyntax .cm-property { color: #eed1b3; }
.cm-s-neonsyntax .cm-operator {color: #fa8d6a;}
.cm-s-neonsyntax .cm-comment {
  font-weight: bold;
  font-style: italic;
  color: #a1784c;
  text-shadow: 0px 0px 15px rgba(161, 120, 76, 0.8);
}
.cm-s-neonsyntax .cm-string {
  color: rgba(170, 175, 235, 0.93);
  text-shadow: 0px 0px 15px rgba(170, 175, 219, 0.8);
}
.cm-s-neonsyntax .cm-string-2 {
  font-style: italic;
  color: #3399ff;
  text-shadow: 0px 0px 15px rgba(0, 153, 255, 0.8);
}
.cm-s-neonsyntax .cm-meta {
  color: #cbaf6c;
  text-shadow: 0px 0px 15px rgba(203, 175, 108, 0.8);
}
.cm-s-neonsyntax .cm-error {
  color: #DFDFD5;
  text-shadow: 0px 0px 15px #CC1B27;
}
.cm-s-neonsyntax .cm-qualifier { color: yellow; }
.cm-s-neonsyntax .cm-builtin { color: #9999cc; }
.cm-s-neonsyntax .cm-bracket {
  border-bottom: 1px solid #22c899;
  z-index: 100;
}
.cm-s-neonsyntax .cm-tag {
  color: #49a6d2;
  text-shadow: 0px 0px 15px rgba(73, 166, 210, 0.8);
}
.cm-s-neonsyntax .cm-attribute {
  color: rgba(73, 134, 194, 0.8);
  text-shadow: 0px 0px 15px rgba(73, 134, 194, 0.8);
}
.cm-s-neonsyntax .cm-header {
  font-weight: bold;
  color: rgba(18, 255, 169, 0.97);
  text-shadow: 0px 0px 15px rgba(34, 255, 169, 0.8);
}
.cm-s-neonsyntax .cm-quote { color: #24C2C7; }
.cm-s-neonsyntax .cm-hr { color: pink; }
.cm-s-neonsyntax .cm-link {
  text-decoration: underline;
  color: #3aafff;
  text-shadow: 0px 0px 15px rgba(58, 175, 255, 0.8);
}
.cm-s-neonsyntax .cm-special { color: #FF9D00; }

.cm-s-neonsyntax .CodeMirror-matchingbracket { color: #0f0; }
.cm-s-neonsyntax .CodeMirror-nonmatchingbracket { color: #f22; }

.cm-s-neonsyntax .CodeMirror-selected {
  background: rgba(255, 255, 255, 0.15);
}
.cm-s-neonsyntax .CodeMirror-focused .CodeMirror-selected {
  background: rgba(255, 255, 255, 0.10);
}

/* Editor styling */

.cm-s-neonsyntax.CodeMirror {
  background-color: #1c1c1c;
  color: #ffffff;
  -webkit-filter: contrast(200%);
  -webkit-filter: saturate(200%);
}

.cm-s-neonsyntax .CodeMirror-gutters {
  background: #3D3D3D;
  border-right: 1px solid #4D4D4D;
  box-shadow: 0 10px 20px black;
}

.cm-s-neonsyntax .CodeMirror-linenumber {
  text-shadow: 0px 1px 1px #4d4d4d;
  color: #222;
  padding: 0 5px;
}

.cm-s-neonsyntax .CodeMirror-lines .CodeMirror-cursor {
  border-left: 1px solid #7991E8;
}

.cm-s-neonsyntax .CodeMirror-activeline-background {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.031);
}

